@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 10px;
}

/* Style for Description List */
dl div {
    margin-bottom: 20px;
}

dl div dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dl div dd {
    margin-bottom: 10px;
}

.button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}