body {
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    /* Remove default margin */
}

.navlist li {
    display: inline;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(249, 233, 201);
}

.projects-section {
    background-color: #f4f4f4;
    padding: 80px 0 50px;
    /* Adjusted padding to create space between navbar and projects */
}

.projects-section dl {
    margin-bottom: 20px;
}

.projects-section div {
    margin-bottom: 20px;
}

.projects-section dt {
    font-weight: bold;
    margin-bottom: 5px;
}

.projects-section dd {
    margin-bottom: 10px;
}

.button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}