@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.portfolio-cont {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(249, 233, 201);
}

.left-cont {
    background-color: black;
    width: 70%;
}

.right-cont {
    background-color: aquamarine;
    width: 30%;
}

/* Media query for screens up to 768px wide */
@media screen and (max-width: 768px) {
    .portfolio-cont {
        flex-direction: column;
        /* Stack elements vertically */
    }

    .left-cont,
    .right-cont {
        width: 100%;
        /* Take up full width on smaller screens */
    }
}